div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: solid black 2px;
    /* border-radius: 50%; */
    position: absolute;
    top: 100px;
    left: 100px;
    animation: colorAnimate;
    /* animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 10;
    animation-direction: alternate; */
    animation: colorAnimate 4s ease-in 1s infinite normal;
}

@keyframes colorAnimate {
    0% {
       left: 0px;
       background-color: yellow;
    }
    50%{
        background-color: blue;
    }
    100% {
        left: 200px;
        background-color: red;
        color: white;
    } 
}

