div{
    display: inline-block;
}
body{
    background-image: url("Naruto\ ai.jpg");
    background-size: cover;
}
#box1{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    background-color: red;
    background-image: url("messi.jpg");
    background-size: cover;
}
#box2{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    background-color: green;
    background-image: url("nature.jpg");
    background-size: contain;
}
#box3{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    background-color: cyan;
    background-image: url("nature2.jpg");
    background-size: auto;
}
#box4{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    background-color: pink;
}