/* .div4{
    background-color: aquamarine;
    display: inline;
}
button{
    background-color: red;
    display: block;
} */
.div1{
    background-color: blue;
    height:100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
.div2{
    background-color: green;
    height: 100PX;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    /* display: none; */
    visibility: hidden;
}
.div3{
    background-color: rgba(255,0,0,75%);
    height: 100PX;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}