body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    background-color: white;
}

.card {
    height: 700px;
    width: 300px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative; /* Add position relative to the card */
}

.card img {
    height: 500px;
    width: 100%;
    object-fit: cover; /* Change to cover for better scaling */
    transition: transform 0.5s ease-in; /* Use transform for scaling */
}

.card:hover img {
    transform: scale(1.2); /* Scale the image on hover */
    position: absolute; /* Make the image absolutely positioned on hover */
    top: -10%; /* Adjust to move the image outside the card */
    left: -10%; /* Adjust to move the image outside the card */
}

.card-info {
    padding: 20px;
}

.card-info h2 {
    margin-top: 0;
}

.card-info p {
    margin-bottom: 20px;
}

.card-info a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.card-info a:hover {
    background-color: #0056b3;
}